html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* white-space: nowrap;
  font-family: monospace;
  display: inline-block; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.board {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
} 

#background .shape-0 {
  background-color: #efefef;
}

#tetris .shape-1 {
  background-color: black;
}

#mask .shape-1 {
  background-color: #0094ff;
}

#optimistic .shape-1 {
  background-color: #ccc;
}

.pixel {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
