html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.board {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
} 

.pixel.empty {
  background-color: #f8f8f8;
}

.pixel.shadow {
  background-color: #ccc;
}

.pixel.piece-1 {
  background-color: #F94144;
}

.pixel.piece-2 {
  background-color: #F3722C;
}

.pixel.piece-3 {
  background-color: #F8961E;
}

.pixel.piece-4 {
background-color: #F9C74F;
}

.pixel.piece-5 {
background-color: #90BE6D;
}

.pixel.piece-6 {
background-color: #43AA8B;
}

.pixel.piece-7 {
background-color: #577590;
}
  
.pixel {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
